.Phonetic {
    line-height: 60px;
}

.Phonetic .emoji {
    border: 1px solid #cccccc;
    font-size: 40px;
    text-decoration: none;
    border-radius: 5px;
}

.Phonetic .emoji:hover {
    border: 1px solid #444444;
    cursor: pointer;
}

.Phonetic .text {
    font-size: 25px;
    opacity: 0.8;
    font-weight: bold;
    position: relative;
    bottom: 8px;
    left: 8px;
}